header .top1 .new_route h1, header .top1 .new_route p{
	text-align: center;
}

header .top2 a{
	margin-left: 20%;
}

header .top2 .add_route{
	text-align: center;
	
}

.add_route{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
input {
	width: 300px;
	padding: 10px;
	margin: 10px;
}
.items{
	border: 1px solid black;
}
#transport{
	width: 100px;
	margin: 0px;
	padding: 0px;
}